{
    "tabWidth": 4,
    "semi": true,
    "trailingComma": "none",
    "singleQuote": true,
    "overrides": [
        {
            "files": ["*.json", "*.html", "*.css", "*.scss"],
            "options": {
                "tabWidth": 2
            }
        }
    ],
    "printWidth": 100
}
