<div class="titled-card">
    <div class="titled-card-head">
        <h4>About&nbsp;&nbsp;ICMC&nbsp;&nbsp;2021</h4>
    </div>
    <div class="titled-card-body">
        <div></div>
        <p>
            The conference started its journey from 2013 at Haldia Institute
            of Technology, India. The flag of the conference was carried by
            different renowned institutes like IIT (BHU), KIIT, Bhubaneswar,
            Sikkim University, India etc.
        </p>
        <p>
            ICMC 2021 aims to bring together both novice and experienced
            scientists with developers, to meet new colleagues, collect new
            ideas and establish new cooperation between research groups and
            provide a platform for researchers from academic and industry to
            present their original work and exchange ideas, information,
            techniques and applications in the field of Computational
            Applied Mathematics, including, but not limited to the broad
            topics of Operations Research, Numerical Analysis, Computational
            Fluid Mechanics, Soft Computing, Cryptology & Security Analysis,
            Image Processing, Big Data, Cloud Computing, Data Analytics, IoT,
            Pervasive Computing and other emerging areas of research. All the
            accepted papers will be published in Springer.
        </p>
        <p>
            ICMC 2021 is honoured to have <a href="https://www.ramanujanmathsociety.org/" target="_blank">Ramanujan
                Mathematical Society</a> and <a href="https://crsind.in/index.php" target="_blank">Cryptology
                Research
                Society India (CRSI)</a> as its associates in organizing the conference.
        </p>
    </div>
</div>