<div class="titled-card">
    <div class="titled-card-head">
        <h4>About&nbsp;&nbsp;IIEST&nbsp;&nbsp;Shibpur</h4>
    </div>
    <div class="titled-card-body">
        <div></div>
        <p>
            IIEST, Shibpur (Erstwhile "Bengal Engineering College") ranks
            19th in NIRF-2019 among Engineering Institutes. It is the first
            college to become Indian Institute of Engineering Science and
            Technology (IIEST) in India in 2014. The Institute has a rich
            history. It is empowering the nation since 1856. Considering the
            year of establishment, it is the 3rd engineering college in
            India but considering the year of graduation it is the 2nd
            oldest engineering college in India. It has 16 departments and 8
            schools. It has over 250 faculty members and a student strength
            of over 4000.
        </p>
        <p>
            With the establishment of Calcutta University on January 24,
            1857, the college was affiliated to this University in May 1857.
            The first-degree examination in Bachelors of Civil Engineering
            was held in 1864 in which only two students graduated. In 1865,
            the college merged with The Presidency College, Calcutta and
            from 1865 to 1869 the college functioned as the Civil
            Engineering Department of Presidency College. In 1880, the
            college was shifted to its present campus at Shibpur, Howrah,
            and was christened the 'Government College, Howrah,' in the
            premises of Bishop's College. It started imparting training in
            Civil Engineering as well as Mechanical Engineering. The college
            became wholly residential from the year 1889.
        </p>
        <p>
            In 1921, the name of the college was changed to 'Bengal
            Engineering College' (popularly known as B. E. College). During
            1921-43, the various departments of the college were reorganized
            on the recommendation of the 'Mukherjee Committee' under the
            Chairmanship of Sir R. N. Mukherjee, one of the most
            distinguished ex-students of the college. The first batch of
            students in Mechanical Engineering appeared in the degree
            examination in 1932. The degree course in Electrical Engineering
            was introduced during 1935-36 and that in Metallurgical
            Engineering in 1939. The Department of Humanities started in
            1945, Applied Mechanics in 1947, and Architecture, Town and
            Regional Planning Department in 1949.
        </p>
    </div>
</div>