<div class="titled-card">
    <div class="titled-card-head">
        <h4>About&nbsp;&nbsp;Department&nbsp;&nbsp;of&nbsp;&nbsp;Information&nbsp;&nbsp;Technology</h4>
        <h4>About&nbsp;&nbsp;Department&nbsp;&nbsp;of&nbsp;&nbsp;IT</h4>
    </div>
    <div class="titled-card-body">
        <p>
            The Department of Information Technology started its journey in
            2000. It is one of the youngest departments of this 163 years
            old institute. The department has produced excellent IT
            engineers who are serving in different reputed organizations and
            pursuing higher studies at various Institutes of Excellence. The
            department provides state-of-the-art computational facilities
            for the students. The strength of the department has been in its
            diverse areas of research in which it has made remarkable
            contributions.
        </p>
    </div>
</div>