<div class="bubble">
    <h4>In association with</h4>
</div>
<div class="clearfix">
    <div class="assoc-logos">
        <a href="https://www.ramanujanmathsociety.org/" target="_blank">
            <div class="assoc-logo"></div>
        </a>
        <a href="https://crsind.in/index.php" target="_blank">
            <div class="assoc-logo"></div>
        </a>
        <a href="https://www.springer.com/in" target="_blank">
            <div class="assoc-logo"></div>
        </a>
    </div>
    <h4 id="assoc-head-sub">
        <span>Under the aegis of TEQIP-III, IIEST Shibpur</span>
    </h4>
    <div class="assoc-logos-sub">
        <a href="https://teqip-iii.iiests.ac.in/" target="_blank">
            <div class="assoc-logo-sub"></div>
        </a>
    </div>
</div>