<div class="banner">
    <h1>
        <p>7th International Conference on Mathematics and Computing</p>
        <p>ICMC 2021</p>
        <p><i>(To be held online)</i></p>
    </h1>
    <h3>March 02 - 05, 2021</h3>
    <h2>
        <p>Department of<i></i>Information Technology</p>
        <p>
            Indian Institute of Engineering Science and Technology, Shibpur,
            India
        </p>
    </h2>
    <div class="countdown">
        <div class="countdown-box"><span id="days"></span></div>
        <div class="countdown-box"><span id="hours"></span></div>
        <div class="countdown-box"><span id="mins"></span></div>
    </div>
    <div class="banner-logos">
        <div class="banner-logo"><span></span></div>
        <div class="banner-logo"><span></span></div>
    </div>
</div>