<!-- Header -->
<header class="container-fluid" id="header">
    <div class="header-links container">
        <ul>
            <li>
                <div id="venue">Venue</div>
            </li>
            <li>
                <div id="pconf">Previous Conferences</div>
            </li>
            <!-- <li>
                <div id="spons">Sponsorship</div>
            </li> -->
            <li>
                <div id="contc">Contact Us</div>
            </li>
        </ul>
    </div>
</header>