<div class="titled-card">
    <div class="titled-card-head">
        <h4>Important Dates</h4>
    </div>
    <div class="titled-card-body">
        <table>
            <tr>
                <td>Paper Submission Deadline</td>
                <td>
                    <del>November 30, 2020</del>
                    <br />
                    December 15, 2020
                </td>
            </tr>
            <tr>
                <td>Final Acceptance Notification</td>
                <td>
                    <del>December 30, 2020</del>
                    <br />
                    January 18, 2021
                </td>
            </tr>
            <tr>
                <td>Camera Ready Submission</td>
                <td>
                    <del>January 25, 2021</del>
                    <br />
                    February 04, 2021
                </td>
            </tr>
            <tr>
                <td>Conference Dates</td>
                <td>
                    March 02 - 05, 2021<br />
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="titled-card">
    <div class="titled-card-head">
        <h4>Submit Paper</h4>
    </div>
    <div class="titled-card-body">
        <div class="submit-top">
            <p>Click on the Submit button for paper submission.</p>
            <a href="https://easychair.org/conferences/?conf=icmc2021" target="_blank">
                <span>SUBMIT</span>
            </a>
        </div>
        <div class="submit-bottom">
            <div></div>
            <p>
                All the accepted papers will be published by Advances in Intelligent Systems and
                Computing — Springer.
            </p>
        </div>
    </div>
</div>