<div class="container">
    <div class="logos">
        <div class="logo" id="logo-icmc"></div>
        <span>ICMC</span>
        <div id="nav-logo-separator"></div>
        <div class="logo" id="logo-iiests"></div>
        <span>IIEST</span>
    </div>

    <div class="nav-links">
        <ul>
            <li>
                <div id="l_dates">Important Dates</div>
            </li>
            <li>
                <div id="l_about">About</div>
            </li>
            <li>
                <div id="l_speak">Speakers</div>
            </li>
            <li>
                <div id="l_comm">Committee</div>
            </li>
            <li>
                <div id="l_trax">Tracks</div>
            </li>
            <li>
                <div id="l_accepted">Accepted Papers</div>
            </li>
            <li>
                <div id="l_reg">Registration</div>
            </li>
        </ul>
    </div>

    <div id="hamburger"></div>
</div>

<!-- Scroll percentage bar -->
<div id="scroll-percent-bar"></div>