<div class="titled-card">
    <div class="titled-card-head">
        <h4>Registration</h4>
    </div>
    <div class="titled-card-body">
        <div class="reg-details">
            <p>
                It is mandatory that at least one author of each accepted
                paper register for the conference paper.
                <b>Presenting author shall be given the paper presentation
                    certificate.</b>
            </p>
            <p>
                All communications shall be made at
                <a href="mailto:convener@icmc2021.in">convener@icmc2021.in</a>. Please mention SUBJECT ID in EMAIL
                SUBJECT.
            </p>
            <div id="reg-details-payment">
                <div id="reg-details-left">
                    <p>
                        The registration for the ICMC 2021 conference is only valid
                        after receipt of the full registration fees. Payment is to be
                        made by Net Banking (IMPS / NEFT).
                    </p>
                    <p>Download:</p>
                    <ul>
                        <li>
                            <p><a href="ICMC_2021_registration_form.pdf" target="_blank">Registration Form</a></p>
                        </li>
                        <li>
                            <p><a href="ICMC_2021_publishing_agreement_springer.pdf" target="_blank">Publishing
                                    Agreement</a>
                            </p>
                        </li>
                        <li>
                            <p><a href="ICMC_2021_permission_request_form_springer.pdf" target="_blank">Permission
                                    Request
                                    Form</a></p>
                        </li>
                    </ul>
                </div>
                <div id="reg-details-right">
                    <h2>Bank Details for NEFT</h2>
                    <table>
                        <tr>
                            <td>Name</td>
                            <td>ICMC 2021</td>
                        </tr>
                        <tr>
                            <td>Account</td>
                            <td>23690110090534</td>
                        </tr>
                        <tr>
                            <td>Bank</td>
                            <td>UCO Bank</td>
                        </tr>
                        <tr>
                            <td>Branch</td>
                            <td>BESU</td>
                        </tr>
                        <tr>
                            <td>IFSC</td>
                            <td>UCBA0002369</td>
                        </tr>
                        <tr>
                            <td>SWIFT Code</td>
                            <td>UCBAINBBBID</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="reg-table">
            <h3>Conference Participation Fees</h3>
            <div class="table-wrap">
                <table>
                    <tr>
                        <th></th>
                        <th colspan="2">Foreign Participant</th>
                        <th colspan="2">Indian Participant</th>
                    </tr>
                    <tr>
                        <td>Participant Category</td>
                        <td>On or Before<br />February 04, 2021</td>
                        <td>After<br />February 04, 2021</td>
                        <td>On or Before<br />February 04, 2021</td>
                        <td>After<br />February 04, 2021</td>
                    </tr>
                    <tr>
                        <td>Student (author)</td>
                        <td>USD 50</td>
                        <td>USD 70</td>
                        <td>INR 1000</td>
                        <td>INR 1200</td>
                    </tr>
                    <tr>
                        <td>Industry / R&D Organization / Academia (author)</td>
                        <td>USD 70</td>
                        <td>USD 90</td>
                        <td>INR 1200</td>
                        <td>INR 1400</td>
                    </tr>
                    <tr>
                        <td>Attending only</td>
                        <td>USD 30</td>
                        <td>USD 40</td>
                        <td>INR 300</td>
                        <td>INR 500</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="reg-points">
            <table>
                <tr>
                    <td>Note 1</td>
                    <td>
                        At least one author(s) of accepted papers must register
                        before the registration deadline with the full
                        registration fee (Industry/Academia/R&D Organization as
                        per respective categories). Accepted papers should be at
                        most 12 pages in total, including references and
                        appendices. Extra charges of INR 100 or USD 05 per page
                        is required after 12 pages.
                    </td>
                </tr>
                <tr>
                    <td>Note 2</td>
                    <td>
                        The registered paper(s) has to be presented in the
                        conference. Otherwise, it will not come into the
                        proceedings.
                    </td>
                </tr>
                <tr>
                    <td>Note 3</td>
                    <td>
                        The author registration fee includes admission to all
                        technical sessions.
                    </td>
                </tr>
                <tr>
                    <td>Note 4</td>
                    <td>
                        New author’s name cannot be added after acceptance of the
                        paper.
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>