<div class="bubble">
    <h4>Keynote&nbsp;&nbsp;Speakers</h4>
</div>
<div class="speakers clearfix">
    <% this.speakers.forEach(item=> { %>
        <a href="<%= item.link %>" target="_blank" class="speaker">
            <div class="speak-photo"></div>
            <div class="speak-info">
                <p>
                    <%= item.name %>
                </p>
                <p>
                    <%= item.institute %>
                </p>
            </div>
        </a>
        <% }) %>
</div>