<div class="bubble">
    <h4>Tracks</h4>
</div>
<div class="clearfix" id="trax-card">
    <div class="float-card clearfix">
        <div class="float-card-head">
            <h4>
                The conference invites original contributions in the fields of
                Computational Applied Mathematics, including, but not limited
                to, the following list:
            </h4>
        </div>
        <div class="float-card-body">
            <div class="left">
                <p>Mathematics</p>
                <p>Numerical Analysis</p>
                <p>Approximation Theory</p>
                <p>Analysis</p>
                <p>Linear Algebra</p>
                <p>Computational Number Theory</p>
                <p>Differential Equations</p>
                <p>Operations Research</p>
                <p>Probability and Statistics</p>
                <p>Computational Fluid Mechanics</p>
                <p>Mathematical Modeling and Simulation</p>
                <p>Applications of Fuzzy Set Theory</p>
                <p>Discrete Mathematics</p>
                <p>Game Theory</p>
                <p>Geometry (Discrete, Algebraic, Finite)</p>
                <p>Information Theory</p>
            </div>
            <div class="right">
                <p>Computing</p>
                <p>Cryptology and Cyber Security</p>
                <p>Network Security</p>
                <p>Digital Image Processing</p>
                <p>Digital Watermarking</p>
                <p>Wireless Networks</p>
                <p>Mobile, Distributed, and Parallel Computing</p>
                <p>Internet of Things</p>
                <p>Machine and Deep Learning</p>
                <p>Green Computing</p>
                <p>Big Data</p>
                <p>Blockchain</p>
                <p>Bioinformatics</p>
                <p>Quantum Computing</p>
                <p>Cloud, Fog, and Edge Computing</p>
                <p>Dew Computing</p>
            </div>
        </div>
    </div>
</div>