@import 'colors';
@import 'container';

body {
  position: relative;
  width: auto !important;
  min-width: 360px;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1;
  background: url('../img/overlay.png'), $accent;
  background-position: center;
  background-attachment: fixed;

  /* == SCROLL TO TOP BUTTON ================================================ */
  #btn-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 3rem;
    height: 3rem;
    display: block;
    border-radius: 40%;
    background: url('../img/top.png');
    background-size: 100%;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease-in;

    @mixin btn-small-dims {
      right: 0.75rem;
      bottom: 0.75rem;
      width: 2.5rem;
      height: 2.5rem;
    }

    @media only screen and (orientation: landscape) and (max-height: 751px) {
      @include btn-small-dims;
    }

    @media only screen and (orientation: portrait) and (max-width: 600px) {
      @include btn-small-dims;
    }
  }

  /* == HEADER ============================================================== */
  @import 'header';

  /* ========================= */
  /* COLLAPSE BAR */
  @import 'header-collapse-bar';

  /* == NAVBAR ============================================================== */
  @import 'navbar';

  /* == CONTENT ============================================================= */
  #content-body {
    margin-bottom: 5.75rem;

    & > .container {
      @media only screen and (max-width: 575px) {
        padding: 0;
      }
    }

    /* == COMMON CONTENT ==================================================== */
    @import 'common';

    /* == BANNER ============================================================ */
    @import 'banner';

    /* == ASSOCIATION ======================================================= */
    @import 'association';

    /* == INFO ============================================================== */
    @import 'info';

    /* == ABOUT ============================================================= */
    @import 'about';

    /* == SPEAKERS ========================================================== */
    @import 'speakers';

    /* == COMMITTEE ========================================================= */
    @import 'committee';

    /* == TRACKS ============================================================ */
    @import 'tracks';

    /* == GUIDELINES ======================================================== */
    @import 'guidelines';

    /* ========================= */
    /* REGISTRATION */
    @import 'registration';
  }
}

/* == FOOTER ================================================================ */
@import 'footer';
