#sessions {
  width: 100%;
  display: block;
  border-radius: 0.5rem;
  margin-top: 4rem;
  background: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);

  .titled-card-body {
    padding: 1rem 3rem 3rem 3rem;

    @media only screen and (max-width: 767px) {
      padding: 1.5rem;
    }

    @media only screen and (max-width: 460px) {
      padding: 1rem;
      font-size: 0.9rem;
    }

    #session-selector {
      width: 100%;
      display: flex;
      flex-direction: row;

      .session-selector-btn {
        width: 50%;
        height: 2.5rem;
        box-sizing: border-box;
        display: grid;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem 0.5rem 0 0;
        border: 1px solid #eee;
        border-bottom: 1px solid #ccc;
        font-family: 'Alegreya Sans SC', sans-serif;
        font-size: 1.1rem;
        background: #f7f7f7;
        color: #666;
        cursor: pointer;

        &.session-selected {
          border: 1px solid #ccc;
          border-bottom: none;
          font-weight: bolder;
          background: white;
          color: #333;
          cursor: unset;
        }

        p {
          margin: 0.5rem 1rem;
          text-align: center;
          border: none;
          background: none;
        }
      }
    }

    .session-tables {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 0.95rem;
      color: #333;

      #sessions-math {
        display: block;
      }

      #sessions-comp {
        display: none;
      }

      .session-table-wrapper {
        overflow-x: auto;

        table {
          margin-top: 1rem;
          border-bottom: 1px solid #ccc;
          background: #f7f7f7;

          .session-header-row {
            .session-day {
              padding: 0;
              font-size: 1.1rem;
              font-weight: bold;
              color: #005;
              background: #ccc;

              div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                box-sizing: content-box;
                width: 2rem;
                writing-mode: vertical-lr;
                text-orientation: mixed;
                transform: rotate(180deg);

                p {
                  margin: 0;
                  padding: 0;
                  letter-spacing: 0.25rem;
                }
              }
            }

            .session-header {
              padding: 0.5rem;
              text-align: center;
              letter-spacing: 0.125rem;
              color: #ccc;
              background: #333;
            }
          }

          tr:not(.session-header-row) {
            td {
              padding: 0.5rem;
              text-align: center;

              &:nth-of-type(1) {
                background: #f7f7f7;
              }
            }
          }

          .session-inauguration-row,
          .session-break-row {
            td {
              &:nth-of-type(2) {
                font-style: italic;
                background: #eee;
              }
            }
          }

          .session-inauguration-row {
            border-bottom: 1px solid #ccc;
          }

          .session-break-row {
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
          }

          .session-papers-header-row {
            background: #f7f7f7;

            td {
              border-top: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              font-weight: bold;

              &:nth-of-type(even) {
                background: #eee;
              }

              &:nth-of-type(1) {
                min-width: 4.75rem;
              }

              &:nth-of-type(2) {
                box-sizing: content-box;
                width: 6rem;
              }

              &:nth-of-type(3) {
                width: 4.5rem;
              }
            }
          }

          .session-keynote-row {
            td:nth-of-type(2) {
              color: white;
              background: #494949;

              p {
                margin: 0.5rem 0 0 0;
                padding: 0;

                &:nth-of-type(1) {
                  margin-top: 0;
                  color: #ccc;

                  strong {
                    margin-left: 0.5rem;
                    letter-spacing: 0.125rem;
                    color: #80ebff;
                  }
                }

                &:nth-of-type(2) {
                  color: #eee;
                }

                &:nth-of-type(3) {
                  color: #ccc;

                  i {
                    margin-left: 0.25rem;
                    color: #80ebff;
                  }
                }
              }
            }
          }

          .session-paper-row {
            &:nth-of-type(odd) {
              .session-paper-title,
              .session-paper-affiliation {
                background: #eee;
              }
            }

            .session-paper-chair {
              background: #eee;

              p {
                margin: 0.5rem;
                padding: 0;

                &.session-chair-name {
                  font-weight: bold;
                }

                &.session-chair-institute {
                  margin-top: 0;

                  &:nth-child(2) {
                    margin-bottom: 1rem;
                  }
                }
              }
            }

            // .session-paper-id {
            // }

            .session-paper-title {
              p {
                margin: 0;
                padding: 0;
                text-align: justify;

                &:nth-of-type(1) {
                  font-style: italic;
                }

                &:nth-of-type(2) {
                  margin-top: 0.5rem;
                  color: #005;
                }
              }
            }

            .session-paper-presenter {
              color: #005;
            }

            .session-paper-affiliation {
              text-align: left;
            }
          }
        }
      }

      @mixin keynote-separator-border {
        td {
          &:nth-of-type(1) {
            border-top: 1px solid #ccc;
          }

          &:nth-of-type(2) {
            border-top: 1px solid #999;
          }
        }
      }

      #sessions-math {
        table {
          &:nth-of-type(1) {
            tr {
              &:nth-of-type(14) {
                @include keynote-separator-border;
              }
            }
          }

          &:nth-of-type(2) {
            tr {
              &:nth-of-type(3) {
                @include keynote-separator-border;
              }
            }
          }

          &:nth-of-type(3) {
            tr {
              &:nth-of-type(14) {
                @include keynote-separator-border;
              }
            }
          }

          &:nth-of-type(4) {
            tr {
              &:nth-of-type(3) {
                @include keynote-separator-border;
              }
            }
          }
        }
      }

      #sessions-comp {
        table {
          &:nth-of-type(1) {
            tr {
              &:nth-of-type(14) {
                @include keynote-separator-border;
              }
            }
          }

          &:nth-of-type(2) {
            tr {
              &:nth-of-type(3) {
                @include keynote-separator-border;
              }
            }
          }

          &:nth-of-type(3) {
            tr {
              &:nth-of-type(15) {
                @include keynote-separator-border;
              }
            }
          }

          &:nth-of-type(4) {
            tr {
              &:nth-of-type(3) {
                @include keynote-separator-border;
              }

              &:last-of-type {
                td {
                  border-bottom: 1px solid #ccc;
                }
              }
            }
          }
        }
      }
    }
  }
}
