#speak {
  display: block;
  margin-top: 4rem;

  .speakers {
    display: block;
    margin-top: 2rem;

    .speaker {
      position: relative;
      width: calc(50% - 1rem);
      height: 10rem;
      float: left;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem 0.75rem 0.75rem 0.75rem;
      margin-top: 2rem;
      border-radius: 0.5rem;
      background: url('../img/overlay-paper.png'), white;
      background-size: auto 500%;
      background-position: center;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.5s ease;

      @media only screen and (max-width: 991px) {
        width: 100%;
      }

      @media only screen and (max-width: 575px) {
        height: auto;
        align-items: flex-start;
      }

      &::after {
        position: absolute;
        bottom: 0;
        left: 0.125rem;
        right: 0.125rem;
        height: 0.25rem;
        content: ' ';
        display: block;
        border-radius: 0 0 0.5rem 0.5rem;
        background: #a3cb38;
      }

      &:nth-of-type(1) {
        margin-top: 0;

        @media only screen and (max-width: 991px) {
          margin: 0;
        }
      }

      &:nth-of-type(2) {
        margin-top: 0;
      }

      &:nth-of-type(odd) {
        margin-right: 1rem;

        @media only screen and (max-width: 991px) {
          margin: 1rem 0 0 0;
        }
      }

      &:nth-of-type(even) {
        margin-left: 1rem;

        @media only screen and (max-width: 991px) {
          margin: 1rem 0 0 0;
        }
      }

      &:hover {
        transform: translateY(-0.5rem);
        box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
      }

      .speak-photo {
        width: 7rem;
        height: 100%;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        display: block;
        background: url('../img/sillhouette.png') no-repeat;
        background-size: auto 100%;
        background-position: 50% 50%;

        @media only screen and (max-width: 767px) {
          width: 6.7rem;
        }

        @media only screen and (max-width: 575px) {
          width: 7.25rem;
          height: 8.75rem;
        }
      }

      // == Adjustments specific to individual speaker photos ==================
      @import 'speakers-photo';

      .speak-info {
        height: 100%;
        width: calc(100% - 7rem - 0.75rem);

        @media only screen and (max-width: 767px) {
          width: calc(100% - 6.7rem - 0.75rem);
        }

        @media only screen and (max-width: 575px) {
          width: calc(100% - 8rem);
        }

        p {
          width: 100%;
          margin: 0;
          padding: 0.5rem 1rem;
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 1rem;
          text-align: justify;
          color: #666;

          @media only screen and (max-width: 575px) {
            font-size: 0.9rem;
          }

          @media only screen and (max-width: 460px) {
            padding: 0.25rem;
            text-align: center;
          }

          &:nth-of-type(1) {
            margin-bottom: 0.75rem;
            border-radius: 0.25rem;
            font-weight: bold;
            color: #80ebff;
            background: #333;
          }

          &:nth-of-type(2) {
            padding-top: 0;
            font-family: 'Alegreya Sans SC', sans-serif;
            font-size: 1.05rem;
            font-weight: bold;

            @media only screen and (min-width: 1200px) {
              padding-top: 0.5rem;
            }

            @media only screen and (max-width: 575px) {
              font-size: 1rem;
              line-height: 1.05rem;
            }

            @media only screen and (max-width: 375px) {
              font-size: 0.95rem;
              line-height: 1rem;
            }
          }

          &:nth-of-type(3) {
            padding-top: 0;
            font-size: 1rem;

            @media only screen and (min-width: 1200px) {
              padding-top: 0.25rem;
            }

            @media only screen and (max-width: 375px) {
              font-size: 0.9rem;
            }

            span {
              color: #005;
            }
          }
        }
      }
    }
  }
}
