&:nth-of-type(1) .speak-photo {
  background: url('../img/speakers/carmithazay.jpg') no-repeat;
  background-size: 100% auto;
  background-position: 50% 0%;

  @media only screen and (max-width: 991px) {
    background-size: 100% auto;
    background-position: center 0;
  }

  @media only screen and (max-width: 767px) {
    background-size: 100% auto;
    background-position: center 0;
  }
}

&:nth-of-type(2) .speak-photo {
  background: url('../img/speakers/amitrokotsa.jpg') no-repeat;
  background-size: auto 100%;
  background-position: 50% 0%;
}

&:nth-of-type(3) .speak-photo {
  background: url('../img/speakers/bkrroy.jpg') no-repeat;
  background-size: 100% auto;
  background-position: center 0%;
}

&:nth-of-type(4) .speak-photo {
  background: url('../img/speakers/snikova.jpg') no-repeat;
  background-size: 150% auto;
  background-position: 65% 0%;

  @media only screen and (max-width: 991px) {
    background-size: 150% auto;
    background-position: center 0;
  }
}

&:nth-of-type(5) .speak-photo {
  background: url('../img/speakers/frodriguez.jpg') no-repeat;
  background-size: 100% auto;
  background-position: center 100%;

  @media only screen and (max-width: 1199px) {
    background-size: 100% auto;
    background-position: center 100%;
  }

  @media only screen and (max-width: 991px) {
    background-size: 100% auto;
    background-position: center 100%;
  }
}

&:nth-of-type(6) .speak-photo {
  background: url('../img/speakers/sugata.jpg') no-repeat;
  background-size: auto 100%;
  background-position: 50% 0%;
}

&:nth-of-type(7) .speak-photo {
  background: url('../img/speakers/ponnusamy.jpg') no-repeat;
  background-size: 100% auto;
  background-position: 50% 0%;
}

&:nth-of-type(8) .speak-photo {
  background: url('../img/speakers/skshukla.jpg') no-repeat;
  background-size: auto 100%;
  background-position: 50% 0%;
}

&:nth-of-type(9) .speak-photo {
  background: url('../img/speakers/bthuraisingham.jpg') no-repeat;
  background-size: auto 100%;
  background-position: 50% 0%;
}

&:nth-of-type(10) .speak-photo {
  background: url('../img/speakers/rei.jpg') no-repeat;
  background-size: auto 100%;
  background-position: 50% 0%;
}

&:nth-of-type(11) .speak-photo {
  background: url('../img/speakers/balasubramanian.jpg') no-repeat;
  background-size: auto 115%;
  background-position: 50% 0%;
}

&:nth-of-type(12) .speak-photo {
  background: url('../img/speakers/nasser.jpg') no-repeat;
  background-size: auto 100%;
  background-position: 50% 0%;
}
